/* About view */
.event-datespan {
    font-weight: bold;
    margin-left: 0.5em;
}
    .event-date {
        font-weight: normal;
    }

.event-meta {
    margin-left: 1em;
}

.event-description {
    margin-top: 1em;
    background-color: #f8f8f8;
    padding: 1em;
}

.event-tile-wrapper {
    margin-top: 1em;
}
    .event-tile-wrapper div a,
    .event-tile-wrapper div a:hover,
    .event-tile-wrapper div a:visited,
    .event-tile-wrapper div a:active,
    .event-tile-wrapper div a:link {
        text-decoration: none;
    }
    .event-tile-1, .event-tile-2, 
    .event-tile-3, .event-tile-4,
    .event-tile-5 {
        width: 100%;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        height: 100px;
        line-height: 100px;
        white-space: nowrap;
        cursor: pointer;
    }
        .event-tile-1 {
            background-color: #ddd;
        }
        .event-tile-2 {
            background-color: #ccc;
        }
        .event-tile-3 {
            background-color: #bbb;
        }
        .event-tile-4 {
            background-color: #aaa;
        }
        .event-tile-5 {
            background-color: #999;
        }

/* Speakers view */

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
    margin-bottom: 2.5em;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img, .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

.speaker-company {
    font-style: italic;
}
.speaker-name {
    font-size: 20px;
    font-weight: bold;
}
.speaker-title {
    font-weight: bold;
}

.admin-button-wrapper {
    margin-bottom: 1em;
}

.speaker-link, .speaker-link:hover {
    cursor: pointer;
}

/* Speaker */
.speaker-meta-wrapper {
    margin-bottom: 2em;
}
.speaker-avatar-wrapper {
    width: 100%;
    height: 100%;
}
    .speaker-avatar-wrapper .avatar {
        margin: 0 auto;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        position: relative;
        top: 2.25em;
    }
@media (max-width: 768px) {
    .speaker-avatar-wrapper .avatar {
        top: 0.25em;
    }
}
.speaker-name-wrapper {
    
}
.speaker-bio-wrapper {
    margin-top: 3em;
}

.session-list-wrapper {
    border-top: 2px solid #000000;
}
.session-card {
    background-color: #ddd;
    margin-bottom: 2em;
    padding: 1em 4em;
}
.session-actions-wrapper {
    padding-top: 1em;
}
    .session-actions-wrapper p {
        text-align: center;
    }
    .session-actions-wrapper button {
        
    }
.audience-level-label {
    font-weight: bold;
}

/* Modals */

/* TODO: might need to have adjustments for different resolutions */
.modal-form-container-sm {
    width: 268px !important;
}
.modal-form-container-md {
    width: 568px !important;
}
.modal-form-container-lg {
    width: 870px !important;
}


/* fixes for registration view */
.checkbox-vert-29 {
    margin-top: 29px !important;
}
.row-btm-adjust {
    margin-bottom: 13px;
}

/* sessions view */
.shape{    
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.sessioncard {
    min-height:300px;
    height:auto;
}

.sessioncard {
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}

.sessioncard-radius{
    border-radius:7px;
}

.sessioncard-default {    border-color: #999999; }
.sessioncard-default .shape{
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-danger {    border-color: #d9534f; }
.sessioncard-danger .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-success {	border-color: #5cb85c; }
.sessioncard-success .shape{
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-primary {	border-color: #428bca; }
.sessioncard-primary .shape{
	border-color: transparent #428bca transparent transparent;
	border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-info {	border-color: #5bc0de; }
.sessioncard-info .shape{
	border-color: transparent #5bc0de transparent transparent;
	border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-warning {	border-color: #f0ad4e; }
.sessioncard-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
	border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.sessioncard-content {
    padding:0 20px 10px;
}

/* tracks */
.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
    .tile .title {
      margin-top: 0px;
    }
    .tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green, 
    .tile a, .tile a:link, .tile a:hover, .tile a:visited, .tile a:active {
      color: #fff;
    }
    .tile.purple {
      background: #5133ab;
    }
    .tile.purple:hover {
      background: #3e2784;
    }
    .tile.red {
      background: #ac193d;
    }
    .tile.red:hover {
      background: #7f132d;
    }
    .tile.green {
      background: #00a600;
    }
    .tile.green:hover {
      background: #007300;
    }
    .tile.blue {
      background: #2672ec;
    }
    .tile.blue:hover {
      background: #125acd;
    }
    .tile.orange {
      background: #dc572e;
    }
    .tile.orange:hover {
      background: #b8431f;
    }

.tile-action-wrapper {
    display: block;
    margin-top: 1em;
}

.track-meta-wrapper {
    margin-bottom: 2em;
}

.session-selection-list-wrapper {
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
    .session-selection-list {
        
    }
    .session-selection-list-item {
        margin: 0;
        padding: 14px 10px;
        list-style-type: none;
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        border-bottom: solid 1px #ddd;
    }
    .session-selection-list-item:hover {
        background-color: #ddd;
    }
    .session-selection-list-item div,
    .session-selection-list-item div button,
    .session-selection-list-item div button span {
        margin: auto 0;
        height: 80px;
    }
    .session-selection-list-item div button span {
        font-size: 20px;
        margin-top: 120%;
    }
    .session-selection-list-item .pull-left {
        margin-right: 1em;
    }
    .session-selection-list-item .pull-right {
        margin-left: 1em;
    }

/* rooms */
.assigned-track-wrapper {
    border-top: 1px solid #fff;
    padding: 0.5em 0;
    margin: 0.5em 0;
}

/* time slots */
.timeslot-line-item {
    border-bottom: 1px solid #999;
    background: none;
    width: 100%;
    vertical-align: middle;
}
    .timeslot-line-item:first-child {
        border-top: 1px solid #999;
    }
    .timeslot-line-item:hover {
        background-color: #bbb;
    }
    .timeslot-line-item div {
        margin: auto 0;
        padding: 0.5em 0;
        vertical-align: middle;
    }
    .timeslot-line-item div:first-child {
        margin-top: 0.5em;
    }

/* navigation */
.navigation-wrapper {
    margin-bottom: 0.5em;
}

/* volunteer */
.volunteer-task-wrapper {
    margin-top: 1em;
}

/* agenda */
.agenda {
    margin-top: 1.0em;
}

/* dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
    font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

.agenda-date-column {
    width: 160px;
}
.agenda-session-column {

}

ul.list-group{
    margin:0;
    padding:0;
}
    ul.list-group .list-group-item, ul.list-group .list-group-item-active {
        cursor: move;
        margin-bottom: 1em;
    }