/* Modals */

/* TODO: might need to have adjustments for different resolutions */
.modal-form-container-sm {
    width: 268px !important;
}
.modal-form-container-md {
    width: 568px !important;
}
.modal-form-container-lg {
    width: 870px !important;
}

.watermark {
    color: #c0c0c0;
    margin: 3em auto;
}