<div ng-include="'/DesktopModules/CodeCamp/Templates/_default/navigation.html'"></div>
<h2>Event Agenda</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="goToPage('/timeslots')">
                    <i class="glyphicon glyphicon-edit"></i>
                    Manage Time Slots
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Content goes here
        </div>
    </div>
</div>