<div class="container navigation-wrapper" ng-controller="navigationController">
    <div class="row">
        <div class="pull-right" role="navigation">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{ active: isActive('/about') }"><a href="#/about">About</a></li>
                <li role="presentation" ng-class="{ active: isActive('/speakers') }"><a href="#/speakers">Speakers</a></li>
                <li role="presentation" ng-class="{ active: isActive('/agenda') }"><a href="#/agenda">Agenda</a></li>
                <li role="presentation" ng-class="{ active: isActive('/tracks') }"><a href="#/tracks">Tracks</a></li>
                <li role="presentation" ng-class="{ active: isActive('/sessions') }"><a href="#/sessions">Sessions</a></li>
                <li role="presentation" ng-class="{ active: isActive('/volunteers') }"><a href="#/volunteers">Volunteers</a></li>
            </ul>
        </div>
    </div>
</div>