<h1>Event Registration</h1>
<div class="container" ng-form="registrationForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-show="RegistrationErrors">
                An unexpected error occurred while attempting to register you for the event. Please try again, or contact the site administrator.
            </div>
            <div class="alert alert-warning" ng-show="UserExistsErrors">
                You appear to already have a user account. Please <a href="/?ctl=login">login first</a>, then register for the event.
            </div>
            <div class="alert alert-success" ng-show="RegistrationSuccess">
                Congratulations! You've successfully registered for the event.
                <p>
                    <button type="button" class="btn btn-success" ng-click="goToPage('/about')">Continue</button>
                </p>
            </div>
            <div class="alert alert-danger" ng-show="RegistrationUpdateError">
                An unexpected error occurred while attempting to update your registration. Please try again, or contact the site administrator.
            </div>
            <div class="alert alert-success" ng-show="RegistrationUpdateSuccess">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                Congratulations! You've successfully updated your event registration.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group" ng-class="{ 'has-error error' : registrationForm.firstName.$dirty && registrationForm.firstName.$invalid }">
                <label for="firstName">First Name *</label>
                <input type="text" name="firstName" ng-model="userInfo.FirstName" ng-required="true" class="form-control" placeholder="Your first name" maxlength="50" ng-disabled="userInfo.UserID > 0 || RegistrationSuccess" required/>
                <p class="help-block" ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$invalid">
                    Your first name is required.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group" ng-class="{ 'has-error error' : registrationForm.lastName.$dirty && registrationForm.lastName.$invalid }">
                <label for="lastName">Last Name *</label>
                <input type="text" name="lastName" ng-model="userInfo.LastName" ng-required="true" class="form-control" placeholder="Your last name" maxlength="50" ng-disabled="userInfo.UserID > 0 || RegistrationSuccess" required/>
                <p class="help-block" ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$invalid">
                    Your last name is required.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group" ng-class="{ 'has-error error' : registrationForm.email.$dirty && registrationForm.email.$invalid }">
                <label for="email">Email Address *</label>
                <input type="email" name="email" ng-model="userInfo.Email" ng-required="true" class="form-control" placeholder="Your last name" maxlength="256" ng-disabled="userInfo.UserID > 0 || RegistrationSuccess" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required/>
                <p class="help-block" ng-show="registrationForm.email.$error.email">
                    Enter a valid email address.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-btm-adjust">
        <div class="col-md-6 col-lg-6">
            <label for="shirtSize">Shirt Size *</label>
            <select name="shirtSize" ng-model="registration.ShirtSize" class="form-control" ng-disabled="RegistrationSuccess" required>
                <option value="XS">Extra Small</option>
                <option value="SM">Small</option>
                <option value="MD">Medium</option>
                <option value="LG">Large</option>
                <option value="XL">XL</option>
                <option value="2X">XXL</option>
                <option value="3X">XXXL</option>
            </select>
            <p class="help-block" ng-show="createSessionsForm.shirtSize.$dirty && createSessionsForm.shirtSize.$invalid">
                Shirt size is required.
            </p>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="checkbox checkbox-vert-29">
                <label for="hasDietaryRequirements">
                    <input type="checkbox" name="hasDietaryRequirements" ng-model="registration.HasDietaryRequirements" ng-disabled="RegistrationSuccess"/>Do you have dietary requirements?
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea name="notes" ng-model="registration.Notes" class="form-control" placeholder="Enter anything we should know, such as dietary requirements" maxlength="1000" ng-disabled="RegistrationSuccess"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10 col-lg-offset-8 col-lg-4">
            <div class="pull-right">
                <button class="btn btn-success" type="button" ng-disabled="registrationForm.$invalid || RegistrationSuccess" ng-click="processRegistration()">
                    <span ng-show="registration == null">Save</span><span ng-show="registration != null">Update</span> Registration
                </button>
                <button class="btn" type="button" ng-click="goToPage('/about')">Cancel</button>
            </div>
        </div>
    </div>
</div>