<h2><span ng-show="IsRegistrationOpen">Prospective </span>Code Camp Sessions</h2>
<!-- http://bootsnipp.com/snippets/xvodW -->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="project project-default">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="project project-success">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="project project-radius project-primary">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="project project-info">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="project project-radius project-warning">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="project project-radius project-danger">
                <div class="shape">
                    <div class="shape-text">
                        top
                    </div>
                </div>
                <div class="project-content">
                    <h3 class="lead">
                        Project label
                    </h3>
                    <p>
                        And a little description.
                        <br> and so one
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>