<div class="container">
    <div class="row speaker-meta-wrapper">
        <div class="col-lg-2">
            <div class="speaker-avatar-wrapper">
                <div class="avatar">
                    <img class="speaker-avatar" src="/DesktopModules/CodeCamp/Images/headshot-placeholder.jpg" alt="{{speaker.SpeakerName}}" title="{{speaker.SpeakerName}}"/>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="speaker-name-wrapper">
                <h2>{{speaker.SpeakerName}}</h2>
                <p>
                    <span class="speaker-title">{{speaker.CompanyTitle}}</span><br/>
                    <span class="speaker-company">{{speaker.CompanyName}}</span>
                </p>
                <p>
                    <a href="{{speaker.URL}}" target="_blank" class="btn btn-default" ng-show="speaker.URL.length > 0">
                        <i class="glyphicon glyphicon-link"></i>
                        Website
                    </a>
                    <a href="mailto:{{speaker.Email}}" target="_blank" class="btn btn-default" ng-show="speaker.Email.length > 0">
                        <i class="glyphicon glyphicon-envelope"></i>
                        Contact
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="speaker-bio-wrapper">
                {{speaker.Bio}}
            </div>
        </div>
    </div>
    <div class="session-list-wrapper">
        <h3>Session(s) By this Speaker</h3>
        <div ng-repeat="session in speaker.Sessions | orderBy: 'Title'">
            <div class="row session-card">
                <div class="col-md-5 col-md-offset-2">
                    <h4>{{session.Title}}</h4>
                    <div class="session-description-wrapper">
                        {{session.Description}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="session-actions-wrapper">
                        <p class="audience-level-label"><session-audience level="session.AudienceLevel"></session-audience></p>
                        <p><count session="session" session-registration="SessionRegistration.length"></count> people attending</p>
                        <p>
                            <button type="button" class="btn btn-danger" ng-click="RegisterForSession(session.SessionId)" ng-class="{ 'disabled' : (currentUserRegistration == null) }" ng-show="!IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                Not Attending
                            </button>
                            <button type="button" class="btn btn-success" ng-click="UnregisterForSession(session.SessionId)" ng-class="{ 'disabled' : (currentUserRegistration == null) }" ng-show="IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                I'm Attending
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>