<div ng-include="'/DesktopModules/CodeCamp/Templates/_default/navigation.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="AssignSessions()" ng-show="userCanEdit">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Assign Sessions
                </button>
                <button type="button" class="btn btn-info" ng-click="SortSessions()" ng-show="userCanEdit">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Sort Sessions
                </button>
                <button type="button" class="btn btn-default" ng-click="goToPage('/tracks')">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Back to Tracks
                </button>
                <button type="button" class="btn btn-warning" ng-click="DeleteTrack()" ng-show="userCanEdit">
                    <i class="glyphicon glyphicon-remove"></i>
                    Delete Track
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="track-meta-wrapper">
                <h2>{{track.Title}}</h2>
                <div>{{track.Description}}</div>
            </div>
        </div>
    </div>
    <div class="session-list-wrapper">
        <h3>Session(s) in this Track</h3>
        <div class="row" ng-show="assignedSessions.length == 0">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <h4>Whoops!</h4>
                    <p>There aren't any sessions added to this track yet. Please check back again soon!</p>
                </div>
            </div>
        </div>
        <div ng-repeat="session in assignedSessions | orderBy: ['SortOrder', 'Title']">
            <div class="row session-card">
                <div class="col-md-5 col-md-offset-2">
                    <h4>{{session.Title}}</h4>
                    <div class="session-description-wrapper">
                        {{session.Description}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="session-actions-wrapper">
                        <p class="audience-level-label">
                            <session-audience level="session.AudienceLevel"></session-audience>
                        </p>
                        <p>
                            <count session="session" session-registration="SessionRegistration.length"></count> people attending
                        </p>
                        <p>
                            <button type="button" class="btn btn-danger" ng-click="RegisterForSession(session.SessionId)" ng-class="{ 'disabled' : SessionRegistrationIsDisabled }" ng-show="!IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                Not Attending
                            </button>
                            <button type="button" class="btn btn-success" ng-click="UnregisterForSession(session.SessionId)" ng-class="{ 'disabled' : SessionRegistrationIsDisabled }" ng-show="IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                I'm Attending
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="AssignSessionsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Assign Track Sessions</h3>
    </div>
    <div class="modal-body">
        <div class="container modal-form-container-lg">
            <div class="row">
                <div class="col-xs-12"><strong>Adding Sessions To:</strong> {{track.Title}}</div>
            </div>
            <div class="row" ng-show="">
                <div class="col-xs-12">
                    <div class="alert alert-warning">
                        There aren't any more available timeslots for this track.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h4>Available sessions ({{availableSessions.length}})</h4>
                    <div class="form-group" ng-class="{ 'has-error' : availableListFilter != '' }">
                        <input type="text" ng-Model="availableListFilter" placeholder="Filter List By" class="form-control" /><br />
                    </div>
                    <div class="session-selection-list-wrapper">
                        <ul class="session-selection-list">
                            <li class="session-selection-list-item" ng-repeat="session in availableSessions | filter: availableListFilter | orderBy: 'Title'">
                                <div class="pull-right">
                                    <button type="button" ng-click="AddToTrack(session.SessionId)">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                                <span class="speaker-name">{{session.Title | limitTo: titleLimit}}</span><br />
                                <span class="speaker-title">{{DisplaySpeakers(session.Speakers)}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h4>Assigned sessions ({{assignedSessions.length}})</h4>
                    <div class="form-group" ng-class="{ 'has-error' : assignedListFilter != '' }">
                        <input type="text" ng-Model="assignedListFilter" placeholder="Filter List By" class="form-control" /><br />
                    </div>
                    <div class="session-selection-list-wrapper">
                        <ul class="session-selection-list">
                            <li class="session-selection-list-item" ng-repeat="session in assignedSessions | filter: assignedListFilter | orderBy: 'Title'">
                                <div class="pull-left">
                                    <button type="button" ng-click="RemoveFromTrack(session.SessionId)">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </div>
                                <span class="speaker-name">{{session.Title | limitTo: titleLimit}}</span><br />
                                <span class="speaker-title">{{DisplaySpeakers(session.Speakers)}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container modal-form-container-lg">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button class="btn btn-success btn-block" type="button" ng-click="ok()">Done</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="SortSessionsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Sort Track Sessions</h3>
    </div>
    <div class="modal-body">
        <div class="container modal-form-container-md">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        Sorting Sessions for the <strong>{{track.Title}}</strong> track. Sorting sessions will also put them into the appropriate time slots in the agenda.
                    </p>
                </div>
            </div>
            <div class="row">
                <ul class="list-group" ui-sortable="sortableOptions" ng-model="assignedSessions">
                    <li class="list-group-item" ng-repeat="session in assignedSessions | orderBy: ['SortOrder', 'Title']">
                        <span>
                            <em class="glyphicon glyphicon-resize-vertical"></em>
                            {{session.Title}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container modal-form-container-md">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button class="btn btn-success btn-block" type="button" ng-click="ok()">Done</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ConfirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <div class="container modal-form-container-sm">
            <div class="row">
                <div class="col-xs-12">
                    <p>Deleting a track will only delete the track itself. Any assigned sessions (if any) will be unassigned and otherwise unchanged.</p>
                    <p>Are you sure you want to delete this track?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container modal-form-container-sm">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block" type="button" ng-click="ok()">Delete Track</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-block" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>