<h2>Event <span ng-show="!codeCamp.RegistrationActive">Prospective </span>Tracks</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right admin-button-wrapper" ng-show="userCanEdit">
                <button type="button" class="btn btn-primary" ng-click="openModal('md', -1)">
                    <i class="glyphicon glyphicon-edit"></i>
                    Add Track
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="tracks.length == 0">
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <h4>Whoops!</h4>
                <p>There aren't any tracks created yet. Please check back again soon!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="track in tracks | orderBy: 'Title'">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">
                <div class="tile" ng-class="classColors[$index % 5]">
                    <h3 class="title">
                        <a href="#/tracks/{{track.TrackId}}/{{track.TrackSlug}}">{{track.Title}}</a>
                    </h3>
                    <div>{{track.Description}}</div>
                    <div class="tile-action-wrapper">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="openModal('md', track.TrackId)" ng-show="userCanEdit">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit Track
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="AddTrackModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create/Update Event Track</h3>
    </div>
    <div class="modal-body">
        <div class="container modal-form-container-md" ng-form="createTrackForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error error' : createTrackForm.title.$dirty && createTrackForm.title.$invalid }">
                        <label for="title">Title *</label>
                        <input type="text" name="title" ng-model="track.Title" ng-required="true" class="form-control" placeholder="Theme for the track" maxlength="150" required />
                        <p class="help-block" ng-show="createTrackForm.title.$dirty && createTrackForm.title.$invalid">
                            Track title is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error error' : createTrackForm.description.$dirty && createTrackForm.description.$invalid }">
                        <label for="description">Description *</label>
                        <textarea name="description" ng-model="track.Description" ng-required="true" class="form-control" placeholder="Details of theme of the sessions in this track" maxlength="1000" required></textarea>
                        <p class="help-block" ng-show="createTrackForm.description.$dirty && createTrackForm.description.$invalid">
                            Track description is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container modal-form-container-md">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block" type="button" ng-disabled="createTrackForm.$invalid" ng-click="ok()">Save Track</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-block" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>