<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="track-meta-wrapper">
                <h2>{{track.Title}}</h2>
                <div>{{track.Description}}</div>
            </div>
        </div>
    </div>
    <div class="session-list-wrapper">
        <h3>Session(s) in this Track</h3>
        <div class="row" ng-show="sessions.length == 0">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <h4>Whoops!</h4>
                    <p>There aren't any sessions added to this track yet. Please check back again soon!</p>
                </div>
            </div>
        </div>
        <div ng-repeat="session in sessions | orderBy: 'Title'">
            <div class="row session-card">
                <div class="col-md-5 col-md-offset-2">
                    <h4>{{session.Title}}</h4>
                    <div class="session-description-wrapper">
                        {{session.Description}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="session-actions-wrapper">
                        <p class="audience-level-label"><session-audience level="session.AudienceLevel"></session-audience></p>
                        <p><count session="session" session-registration="SessionRegistration.length"></count> people attending</p>
                        <p>
                            <button type="button" class="btn btn-danger" ng-click="RegisterForSession(session.SessionId)" ng-class="{ 'disabled' : SessionRegistrationIsDisabled }" ng-show="!IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                Not Attending
                            </button>
                            <button type="button" class="btn btn-success" ng-click="UnregisterForSession(session.SessionId)" ng-class="{ 'disabled' : SessionRegistrationIsDisabled }" ng-show="IsUserRegisteredForSession(session.SessionId)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                I'm Attending
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>