<div class="container" ng-controller="eventController" ng-form="codeCampForm">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Create/Update Code Camp</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" ng-show="HasSuccess">
                <h4>Well done!</h4>
                <p>The event information was saved succcessfully!</p>
                <p>
                    <a class="btn btn-primary" href="#/about">Go Back</a>
                </p>
            </div>
            <div class="alert alert-danger" ng-show="HasErrors">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh snap!</strong> An error occurred. Please try again, or contact the site administrator.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group" ng-class="{ 'has-error' : codeCampForm.title.$invalid && !codeCampForm.title.$pristine }">
                <label for="title">Name</label>
                <input type="text" name="title" ng-model="codeCamp.Title" ng-required="true" class="form-control" placeholder="Name of the event" required />
                <p class="help-block" ng-show="codeCampForm.title.$invalid && !codeCampForm.title.$pristine">
                    Title is required.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : codeCampForm.description.$invalid && !codeCampForm.description.$pristine }">
                <label for="description">Description</label>
                <textarea name="description" ng-model="CodecodeCampCamp.Description" ng-required="true" class="form-control" placeholder="Description of the event" required></textarea>
                <p class="help-block" ng-show="codeCampForm.description.$invalid && !codeCampForm.description.$pristine">
                    Description is required.
                </p>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="beginDate">Begin Date</label>
            <p class="input-group">
                <input type="text" name="beginDate" ng-model="codeCamp.BeginDate"
                       datepicker-popup="{{datePicker.format}}" min-date="datePicker.minDate" max-date="datePicker.maxDate" datepicker-options="datePicker.options" is-open="datePicker.instances['BeginDate']"
                       ng-focus="datePicker.open($event, 'BeginDate')" ng-required="true" close-text="Close" class="form-control" placeholder="Day that the event begins" min="datePicker.minDate" max="datePicker.maxDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'BeginDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            <label for="beginDate">End Date</label>
            <p class="input-group">
                <input type="text" name="endDate" ng-model="codeCamp.EndDate"
                       datepicker-popup="{{datePicker.format}}" min-date="codeCamp.BeginDate" max-date="datePicker.maxDate" datepicker-options="datePicker.options" is-open="datePicker.instances['EndDate']"
                       ng-focus="datePicker.open($event, 'EndDate')" ng-required="true" close-text="Close" class="form-control" placeholder="Day that the event ends" min="codeCamp.BeginDate" max="datePicker.maxDate" 
                       date-greater-than="{{codeCamp.BeginDate | date:'short'}}" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'EndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            <label>Additional Options</label>
            <div class="form-group">
                <div class="checkbox">
                    <label for="showShirtSize">
                        <input type="checkbox" name="showShirtSize" id="showShirtSize" ng-model="codeCamp.ShowShirtSize" />
                        Show Shirt Size?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label for="showAuthor">
                        <input type="checkbox" name="showAuthor" id="showAuthor" ng-model="codeCamp.ShowAuthor" />
                        Show Author Badge?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label for="isRegistrationActive">
                        <input type="checkbox" name="isRegistrationActive" id="isRegistrationActive" ng-model="codeCamp.RegistrationActive" />
                        Is Registration Active?
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">&nbsp;</div>
        <div class="col-xs-6 col-sm-3">&nbsp;</div>
        <div class="col-xs-6 col-sm-3"><button type="button" class="btn btn-success btn-block" ng-disabled="codeCampForm.$invalid" ng-click="createEvent()">Save Changes</button></div>
        <div class="col-xs-6 col-sm-3"><button type="button" class="btn btn-block" ng-click="goToAbout()">Cancel</button></div>
    </div>
</div>