/*

WillStrohl.Injection Module for DotNetNuke
Version: 02.00.00
Author: Will Strohl
E-Mail: will.strohl@gmail.com
Website: http://www.willstrohl.com

Copyright 2009-2015 Will Strohl

*/
table.dnnGrid.wns_inj_injectiontable { width:100%; }
    table.dnnGrid.wns_inj_injectiontable.wns_inj_border, .wns_inj_fullwidth { width:100%; }
    table.dnnGrid.wns_inj_injectiontable.wns_inj_border tr td { padding:2px 4px 2px 4px; }
    .wns_inj_col_edit { width:30px; }
    .wns_inj_col_editlarge { width:70px; }
    .wns_inj_col_editlarger { width:150px; }
    .wns_inj_col_editmove { width:110px; }
    .wns_inj_header td { font-weight:bold; }
    .wns_inj_left.wns_inj_col_edit, .wns_inj_right.wns_inj_col_edit { display:inline; width:20px; height:20px; }

.wnsInjectionContent { height: 20em; width: 45em !important; }

#divCommand { margin-top: 1.0em; }

.wnsActions { padding: 0;margin: 0; }

.wnsActions li {
    padding: 0;
    margin: 0 1em 0 0;
    display: inline;
    list-style-type: none;
}

.wnsFormInfoMessage {
    width: 60%; 
    margin-right: 3.0em;
}