<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.DependencyInjection" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Instrumentation" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Web" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Web.Client" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.WebApi" version="9.13.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>