body {
	background: url(graphics/noise.png);
}

/*========================================================+
|  Design Elements                                        |
+========================================================*/

.pageWidth {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	min-width: 738px;
	width: 100%;
	clear:both;
}
.full_pagewidth {
	background-image:url(graphics/spiral.jpg); 
	background-repeat:no-repeat; 
	background-size:100%;
	padding-bottom:30px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
	
.headerDiv {
	padding: 5px 0;
	margin: 10px 0 0 0;
	clear: both;
	border-radius: 10px 10px 2px 2px;
	background: rgba(214, 214, 214, .8);
    -pie-background:  rgba(214, 214, 214, .8);
    behavior: url(PIE.htc);

}

.logoDiv {
	display: block;
	float: left;
	margin: 0px 0 0 15px;
}

.contentDiv {
	clear: both;
	padding: 20px 15px;
	background: -moz-linear-gradient(top,  rgba(186,186,186,0) 0%, rgba(186,186,186,0.01) 1%, rgba(216,216,216,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,186,186,0)), color-stop(1%,rgba(186,186,186,0.01)), color-stop(100%,rgba(216,216,216,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(186,186,186,0) 0%,rgba(186,186,186,0.01) 1%,rgba(216,216,216,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(186,186,186,0) 0%,rgba(186,186,186,0.01) 1%,rgba(216,216,216,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(186,186,186,0) 0%,rgba(186,186,186,0.01) 1%,rgba(216,216,216,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(186,186,186,0) 0%,rgba(186,186,186,0.01) 1%,rgba(216,216,216,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bababa', endColorstr='#a6d8d8d8',GradientType=0 ); /* IE6-9 */


}

img {
	height: auto !important;
	max-width: 100%;
}

.breadcrumbDiv {
	margin:-10px auto 10px auto;
	padding:0 10px;
}

.breadcrumbDiv, .breadCrumb {
	color: #999999 !important;
	font-size:10px;
	text-shadow: 1px 1px #FFFFFF;
	
}

.breadCrumb {
	padding:0px 5px 0px 5px;
	background:#EFEFEF;
	position: relative;
	height:22px;
	display:block;
	float:left;
	line-height:22px;
	margin-right:18px;
}

.breadcrumbDiv .breadCrumb:first {
	border:none;
}

.breadCrumb:before {
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -11px;   
	border-width: 11px 0 11px 11px;
	border-style: solid;
	border-color: #EFEFEF #EFEFEF #EFEFEF transparent;
	left: -1em;
}

.breadCrumb:after {
	content: "";
	position: absolute;
	top: 50%; 
	margin-top: -11px;   
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid #EFEFEF;
	right: -1em;
}

.footerDiv {
	border-top: 1px solid #EFEFEF;
	clear: both;
	padding: 5px;
}

.copyrightCopy {
	font-size: 10px;
	font-size: 1rem;
	color: #CCCCCC;
}

.ControlContainer {
    font-size: 12px !important;
}

.attribDiv a {
    margin:0 auto;
    display:block;
    height:35px;
    width:39px;
    text-indent:-2000px;
    overflow:hidden;
    background:url(graphics/attribution_logo.png) no-repeat;
}

/*========================================================+
|  Login/Social Elements                                  |
+========================================================*/

.buttonDiv {
	display: block;
}

.loginLinks {
	display: block;
	float: right;
	margin: 10px 10px 0 0;
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #DADADA;
}

.loginLinks .registerGroup,
.loginLinks .registerGroup *,
.loginLinks .loginGroup,
.loginLinks .loginGroup * {
	display: block;
	float: left;
	font-weight: normal;
}

.loginLinks .registerGroup .buttonGroup {
	margin: 0;
	padding: 0;
}

.loginLinks .registerGroup li {
	border-right: none;
}

.loginLinks .registerGroup a,
.loginLinks .loginGroup a,
.button {
	position: relative;
	color: #666666;
	border-right: 1px solid #DADADA;
	border-left: 1px solid #FFFFFF;
	padding: 2px 7px;
	line-height: 26px;
	font-weight: normal;
	font-size: 11px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px #FFFFFF;
}

.loginLinks .registerGroup a:hover,
.loginLinks .loginGroup a:hover,
.button:hover {
	color: #000000;
}

.loginLinks .registerGroup .userNotifications a strong,
.loginLinks .registerGroup .userMessages a strong {
	display: block;
	text-indent: -2000px;
	top: 0px;
	left: 0px;
	height: 26px;
	width: 26px;
}

.loginLinks .registerGroup .userNotifications a strong {
	background: url(graphics/social_sprite.png) 5px -123px no-repeat;
}

.loginLinks .registerGroup .userNotifications a strong:hover {
	background: url(graphics/social_sprite.png) 5px -155px no-repeat;
}

.loginLinks .registerGroup .userMessages a strong {
	background: url(graphics/social_sprite.png) 5px -59px no-repeat;
}

.loginLinks .registerGroup .userMessages a strong:hover {
	background: url(graphics/social_sprite.png) 5px -91px no-repeat;
}

.loginLinks .registerGroup .userProfileImg a {
	padding: 0;
}

.loginLinks .registerGroup .userProfileImg img {
	width: 30px;
	height: 30px;
	-moz-opacity: 0.70;
	opacity: 0.70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
}

.loginLinks .registerGroup .userProfileImg img:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.loginLinks .registerGroup a:hover,
.loginLinks .loginGroup a:hover,
.button:hover {
	text-decoration: none;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.mobileButtons {
	display: none;
	float: right;
}

.mobileButtons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mobileButtons li {
	list-style: none;
	padding: 0;
	margin: 0 10px 0 0;
	display: block;
	float: left;
}

.mobileButtons li a {
	padding: 0 10px;
	font-size: 14px;
	color: #666666;
	border: 1px solid #DADADA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Uncomment for blue notification bubbles */

/*.loginLinks .registerGroup a span {
    background: #2BA6CB;
	background: -moz-linear-gradient(top, #95D2E5 20%, #2BA6CB 60%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #95D2E5), color-stop(60%, #2BA6CB));
	background: -webkit-linear-gradient(top, #95D2E5 20%, #2BA6CB 60%);
	background: -o-linear-gradient(top, #95D2E5 20%, #2BA6CB 60%);
	background: -ms-linear-gradient(top, #95D2E5 20%, #2BA6CB 60%);
	background: linear-gradient(to bottom, #95D2E5 20%, #2BA6CB 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95D2E5', endColorstr='#2BA6CB', GradientType=0 );
    -webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border:1px solid #2284A1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
	text-shadow: 1px 1px #2284A1;
    display: inline-block;
    font-size: 9px;
	font-weight:bold;
    min-width: 15px;
    padding: 4px 2px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -7px;
	line-height:normal;
	z-index:1000;
}*/

/*========================================================+
|  Panes                                                  |
+========================================================*/

.leftPane {
	display: block;
	float: left;
	width: 48%;
}

.rightPane {
	display: block;
	float: right;
	width: 48%;
}

/*========================================================+
|  Navigation                                             |
+========================================================*/

#dnnMenuMobile {
	display: none;
}

#dnnMenu {
	display: block;
	top: 83px;
	right: 10px;
	position: absolute;
	z-index: 1000;
	font-family: 'Bangers', cursive;
}

#dnnMenu .topLevel {
	position: relative;
	margin: 0;
	padding: 0;
	text-align:center;
}

#dnnMenu .topLevel li {
	float: left;
	margin: 0 15px 0 10px;
	list-style-type: none;
	position: relative;
}

#dnnMenu .topLevel li.selected > a {
	color: #FFF;
}

#dnnMenu .topLevel li a {
	display: block;
	color: #C30;
	padding-bottom: 25px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ccc,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
			   font-size:190%;
}

#dnnMenu .topLevel li a.disabled {
	cursor:default;
}

#dnnMenu .topLevel a:hover {
	text-decoration: none;
	color: #FFF;
	font-size:220%;
}
#dnnMenu .topLevel a:sctive {
	text-decoration: none;
	color: #FFF;
	font-size:100%;
}

#dnnMenu .subLevel {
	display: block;
	display: none;
	position: absolute;
	width: auto;
	margin: 0;
	padding: 0;
	z-index: 1210;
	border: 1px solid #E0E0E0;
	top: 30px;
	left: -15px;
	background: #FFFFFF;
	font-size: 12px;
	font-size: .66em;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#dnnMenu .moveLeft {
    left:-80px;
}

#dnnMenu .subLevel ul {
	width: 170px;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 900;
}

#dnnMenu .subLevel li {
	float: none;
	clear: both;
	width: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

#dnnMenu .subLevel li a {
	margin: 0px;
	padding: 10px 15px;
	border-bottom: 1px solid #DADADA;
	color: #777777;
	line-height: normal;
}

#dnnMenu .subLevel .subLevelRight li a {
	padding-left: 25px;
}

#dnnMenu .subLevel .subLevelRight .subLevelRight li a {
	padding-left: 35px;
}

/*========================================================+
|  Responsive Styles                                      |
+========================================================*/

/* Maximum width. Comment out or remove if you want a full 100% width skin */
@media only screen and (min-width: 1280px) {
    .pageWidth {
       max-width: 1280px;
    }
	.headerDiv {
	border-top: 1px solid #C00;
	border-bottom: 1px solid #C00;
	padding: 5px 0;
	margin: 10px 0 0 0;
	clear: both;
	background: rgba(214, 214, 214, 0.8);
    -pie-background:  rgba(214, 214, 214, 0.8);
    behavior: url(PIE.htc);
}	
	
}
	
@media only screen and (max-width: 767px) {

body {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	width: 100%;
	min-width: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0px;
	padding-right: 0px;
}

.buttonDiv {
	position: absolute;
	right: 0px;
	top: 0px;
}
.headerDiv {
	border-top: 0px solid #C00;
	border-bottom: 0px solid #C00;
	padding: 10px 0;
	margin: 10px 0 0 0;
	clear: both;
	background: rgba(0, 0, 0, 0.0);
    -pie-background:  rgba(0, 0, 0, 0.0);
    behavior: url(PIE.htc);
}	


.logoDiv {
	text-align: center;
	margin: 5px 0 0 10px;
	max-width: 48%;
}

.pageWidth {
	width: 100%;
	min-width: inherit;
	padding: 0;
	background: rgba(214, 214, 214, 0.7);
    -pie-background:  rgba(214, 214, 214, 0.7);
    behavior: url(PIE.htc);
}
.dos_logo { width:85%; }
.breadcrumbDiv {
	display:none !important;
}

#dnnMenu {
	display: none;
}

.mobileButtons {
	display: block
}

#dnnMenuMobile {
	clear: both;
}

.loginLinks .registerGroup,
.loginLinks .registerGroup *,
.loginLinks .loginGroup,
.loginLinks .loginGroup * {
	float: none;
	font-size: 14px;
	font-size: 1.4rem;
}

.loginLinks .registerGroup a,
.loginLinks .loginGroup a {
	text-align: center;
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
	position: relative;
	line-height: 2.4em;
	font-size: 16px;
}

.button {
	text-align: center;
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
	clear: both;
	position: relative;
	line-height: 2.3em;
	color: #666666;
}

.loginLinks {
	position: relative;
	display: none;
	float: none;
	margin: 0;
	padding: 0 10px;
	clear: both;
}

/*========================================================+
|  Responsive Panes                                       |
+========================================================*/

.leftPane {
	display: block;
	float: none;
	width: 100%
}

.rightPane {
	display: block;
	float: none;
	width: 100%
}

/*========================================================+
|  Mobile Menu                                            |
+========================================================*/

#dnnMenu {
	background: #F3F3F3;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    display:none;
    position:relative;
    top:inherit;
    right:inherit;
}

#dnnMenu .topLevel {
	list-style: none;
	margin: 0px 0 -1px 0;
	padding: 0 10px;
}

#dnnMenu .topLevel li {
	list-style: none;
	margin: 0px;
	padding: 0px;
    float:none;
}

#dnnMenu .topLevel li a {
	display: block;
	line-height: 1.2em;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	padding: 10px 10px;
	font-size: 16px;
	text-transform:uppercase;
	text-shadow: 1px 1px #FFFFFF;
}

#dnnMenu .topLevel li.selected a {
	color: #000000;
}

#dnnMenu .topLevel a:hover {
	text-decoration: none;
}

#dnnMenu .subLevel {
    background: #F3F3F3;
    display: block !important;
    line-height: 1.2em;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: none;
    box-shadow:none;
    left:inherit;
    top:inherit;
    width:inherit;
    position:relative;
    width:auto;
    padding:0px;
}

#dnnMenu .subLevel ul {
	list-style: none;
	margin: 0;
	padding: 0;
    width:inherit;
    
}

#dnnMenu .subLevel li a {
	padding-left: 30px;
}

#dnnMenu .subLevel .subLevelRight li a {
	padding-left: 50px;
}
}
